In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from pickle import dump, load

In [ ]:
recapDF = load(open("Variables/recapDF", "rb"))
recapDF

In [132]:
dataset = "Housing"

recapDF.loc[dataset,("QUANTUM", "Test Loss")] =  0.019228864312451324
recapDF.loc[dataset,("QUANTUM", "Num of Parameters")] = 270

In [133]:
recapDF[("QUANTUM/CLASSICAL", "Num of Parameters")] = np.nan
recapDF[("QUANTUM/CLASSICAL", "Test Loss")] = np.nan

recapDF.loc[:,("QUANTUM/CLASSICAL", slice(None))] = (recapDF.loc[:,("QUANTUM", slice(None))].values / recapDF.loc[:,("CLASSICAL", slice(None))].values - 1) * 100

In [134]:
recapDF

                   QUANTUM                   CLASSICAL            \
         Num of Parameters Test Loss Num of Parameters Test Loss
Test                    78  0.000004              6781  0.000021
CO2 1var                45   0.00053             61381  0.000555
CO2 2var               144  0.000039            964321  0.000036
Housing                270  0.019229            444151  0.012947
Cars                   540  0.013276              4361  0.007436

         QUANTUM/CLASSICAL
         Num of Parameters  Test Loss
Test            -98.849727 -82.281912
CO2 1var        -99.926687  -4.400129
CO2 2var        -99.985067   7.611372
Housing         -99.939210  48.520351
Cars            -87.617519  78.533786

In [135]:
dump(recapDF, open("Variables/recapDF", "wb"))

In [136]:
print(recapDF.swaplevel(0,1, axis=1).sort_index(axis=1).T.loc["Test Loss"].style.to_latex())

\begin{tabular}{llllll}
 & Test & CO2 1var & CO2 2var & Housing & Cars \\
CLASSICAL & 0.000021 & 0.000555 & 0.000036 & 0.012947 & 0.007436 \\
QUANTUM & 0.000004 & 0.000530 & 0.000039 & 0.019229 & 0.013276 \\
QUANTUM/CLASSICAL & -82.281912 & -4.400129 & 7.611372 & 48.520351 & 78.533786 \\
\end{tabular}

In [137]:
print(recapDF.swaplevel(0,1, axis=1).sort_index(axis=1).T.loc["Num of Parameters"].style.to_latex())

\begin{tabular}{llllll}
 & Test & CO2 1var & CO2 2var & Housing & Cars \\
CLASSICAL & 6781 & 61381 & 964321 & 444151 & 4361 \\
QUANTUM & 78 & 45 & 144 & 270 & 540 \\
QUANTUM/CLASSICAL & -98.849727 & -99.926687 & -99.985067 & -99.939210 & -87.617519 \\
\end{tabular}