In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from pickle import dump, load

In [38]:
recapDF = load(open("Variables/recapDF", "rb"))
recapDF

                   QUANTUM                   CLASSICAL            \
         Num of Parameters Test Loss Num of Parameters Test Loss
Test                    78  0.000004              6781  0.000021
CO2 1var                45   0.00053             61381  0.000555
CO2 2var               NaN       NaN            964321  0.000036
Housing                NaN       NaN           1855451  0.013125
Cars                   NaN       NaN              4361  0.007436

         QUANTUM/CLASSICAL
         Num of Parameters Test Loss
Test              0.011503  0.177181
CO2 1var          0.000733  0.955999
CO2 2var               NaN       NaN
Housing                NaN       NaN
Cars                   NaN       NaN

In [52]:
dataset = "CO2 2var"

recapDF.loc[dataset,("QUANTUM", "Test Loss")] = 3.859022993349145e-05
recapDF.loc[dataset,("QUANTUM", "Num of Parameters")] = 144

In [56]:
recapDF[("QUANTUM/CLASSICAL", "Num of Parameters")] = np.nan
recapDF[("QUANTUM/CLASSICAL", "Test Loss")] = np.nan

recapDF.loc[:,("QUANTUM/CLASSICAL", slice(None))] = (recapDF.loc[:,("QUANTUM", slice(None))].values / recapDF.loc[:,("CLASSICAL", slice(None))].values - 1) * 100

In [57]:
recapDF

                   QUANTUM                   CLASSICAL            \
         Num of Parameters Test Loss Num of Parameters Test Loss
Test                    78  0.000004              6781  0.000021
CO2 1var                45   0.00053             61381  0.000555
CO2 2var               144  0.000039            964321  0.000036
Housing                NaN       NaN           1855451  0.013125
Cars                   NaN       NaN              4361  0.007436

         QUANTUM/CLASSICAL
         Num of Parameters  Test Loss
Test            -98.849727 -82.281912
CO2 1var        -99.926687  -4.400129
CO2 2var        -99.985067   7.611372
Housing                NaN        NaN
Cars                   NaN        NaN

In [58]:
dump(recapDF, open("Variables/recapDF", "wb"))

In [59]:
print(recapDF.swaplevel(0,1, axis=1).sort_index(axis=1).T.loc["Test Loss"].style.to_latex())

\begin{tabular}{llllll}
 & Test & CO2 1var & CO2 2var & Housing & Cars \\
CLASSICAL & 0.000021 & 0.000555 & 0.000036 & 0.013125 & 0.007436 \\
QUANTUM & 0.000004 & 0.000530 & 0.000039 & nan & nan \\
QUANTUM/CLASSICAL & -82.281912 & -4.400129 & 7.611372 & nan & nan \\
\end{tabular}

In [60]:
print(recapDF.swaplevel(0,1, axis=1).sort_index(axis=1).T.loc["Num of Parameters"].style.to_latex())

\begin{tabular}{llllll}
 & Test & CO2 1var & CO2 2var & Housing & Cars \\
CLASSICAL & 6781 & 61381 & 964321 & 1855451 & 4361 \\
QUANTUM & 78 & 45 & 144 & nan & nan \\
QUANTUM/CLASSICAL & -98.849727 & -99.926687 & -99.985067 & nan & nan \\
\end{tabular}

In [31]:
print(recapDF.T.style.to_latex())

\begin{tabular}{lllllll}
 &  & Test & CO2 1var & CO2 2var & Housing & Cars \\
\multirow[c]{2}{*}{QUANTUM} & Num of Parameters & 78 & 45 & nan & nan & nan \\
 & Test Loss & 0.000004 & 0.000530 & nan & nan & nan \\
\multirow[c]{2}{*}{CLASSICAL} & Num of Parameters & 6781 & 61381 & 964321 & 1855451 & 4361 \\
 & Test Loss & 0.000021 & 0.000555 & 0.000036 & 0.013125 & 0.007436 \\
\multirow[c]{2}{*}{QUANTUM/CLASSICAL} & Num of Parameters & 0.011503 & 0.000733 & nan & nan & nan \\
 & Test Loss & 0.177181 & 0.955999 & nan & nan & nan \\
\end{tabular}